@use 'vars' as *;

body {
    font-family: $main-font;
    overflow: hidden;
}

// Generics
ul {
    list-style-type: none;
    padding: 0;
}

// Header
header {
    max-height: 100px;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: $color-red;
        line-height: 100px;
        text-transform: uppercase;
        font-weight: 800;
        margin-left: 20px;
    }

    .form {
        margin-right: 20px;
        flex-basis: 20%;

        button {
            background-color: $btn-color;
            color: $text-color;

            &:hover {
                background-color: $color-red;
            }
        }
    }
}

// Main
main {
    background-color: $main-color;
    height: calc(100vh - 100px);
    overflow: auto;
}

// Section
section {

    h2 {
        font-weight: 800;
        font-size: 3rem;
        color: $text-color;
    }

    .card {
        overflow: auto;
        height: 400px;
        cursor: pointer;
        position: relative;
        box-shadow: 0 0 5px 0 black;
        background-color: transparent;
        border: 0;

        &:hover {
            scale: 1.05;
        }

        &:hover .card-body {
            display: block;
        }
    }

    figure {
        margin: 0;
        height: 100%;
        width: 100%;
    }

    .cover-img {
        height: 100%;
        width: 100%;
    }

    .img-lang {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .card-body {
        background-color: rgba(0, 0, 0, 0.95);
        color: $text-color;
        display: none;
        overflow: auto;

        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .language-text {
        p {
            line-height: 50px;
        }
    }

    .star {
        color: $color-star;
    }

    .age-adult {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 50px;
        background-color: red;
    }

    .age-kid {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 50px;
        background-color: green;
    }
}

// Section Initial
#section-initial {
    height: 100%;
    display: flex;
    align-items: center;
}