@use 'vars' as *;

body {
    font-family: $main-font;
    overflow: hidden;
}

// Generics
ul {
    list-style-type: none;
    padding: 0;
}

// Header
header {
    max-height: 100px;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: $color-red;
        line-height: 100px;
        text-transform: uppercase;
        font-weight: 800;
        margin-left: 20px;
    }

    .form {
        margin-right: 20px;
        flex-basis: 20%;

        button {
            background-color: $color-red;
            color: #fff;

            &:hover {
                background-color: $color-red;
            }
        }
    }
}

// Main
main {
    background-color: gray;
    height: calc(100vh - 100px);
    overflow: auto;
}

// Section
section {

    h2 {
        font-weight: 800;
        font-size: 3rem;
        color: #fff;
    }

    .img-lang {
        width: 60px;
    }

    .cover-img {
        width: 200px;
    }
}

// Section Initial
#section-initial {
    height: 100%;
    display: flex;
    align-items: center;
}